.ant-collapse-content{
    width:100%;
}

.ant-collapse-header{
    font-weight: 700;
}

.genus .ant-collapse-header{
    /* background-color:#c3e1fc; */
    background-color: #e1f0fd;
}

/* .genus .ant-collapse-content-box{
    background-color: aliceblue;
} */

.ece .ant-collapse-header{
    /* background-color:#d7ccea; */
    background-color:#e3e0f7;
}

/* .ece .ant-collapse-content-box{
    background-color: #efedfb;
} */

.cca-title{
    font-family:cursive;
    font-size: xx-large;
    margin-left: 2%;
    margin-top: 0;
}
/* .cca-content{
    margin-left:2%;
} */
.photo-wrapper{
    display:flex;
    justify-content: center;
    margin: 0;
    height: '500px';
    color: '#fff';
    background: '#364d79';
}

.cca-pic{
    margin-top:0;
    margin-bottom:0;
}