.ant-collapse-content{
    width:100%;
}

.ant-collapse-header{
    background-color:#e0e0e0;
}
.cca-title{
    font-family:cursive;
    font-size: xx-large;
    margin-left: 2%;
    margin-top: 0;
}
/* .cca-content{
    margin-left:2%;
} */
.photoWrapper{
    display:flex;
    justify-content: center;
    margin: 0;
    height: '500px';
    color: '#fff';
    background: '#364d79';
}

.cca-pic{
    margin-top:0;
    margin-bottom:0;
}