.introSegment{
    min-height:86vh;
}

.ant-layout-content{
    /* This has padding of 24px */
    min-height: 86vh !important;
    background-image: url("../images/intro_background.jpg") !important;
    background-repeat: no-repeat !important;
    background-size:cover !important; 
    
}

.introContent{
    display:flex;
    justify-content: space-around;
}

.contentWrapper{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.nameTitle{
    font-family:cursive;
    font-size: xx-large;
}

.preview{
    border:dashed rgb(56, 56, 56) 2px;
    border-radius: 8px;
    text-align: center;
    margin-right: 6%;
    margin-left: 10%;
    font-weight: 400px;
    padding: 10px;
}

.linkTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.linkTitle a{
    margin-left: 10px;
    margin-right: 10px;
}

.linkTitle img{
    margin-top: 0;
    margin-bottom: 0;
}

.dynamic-picture {
    width: 280px;
    height: 280px;
    background: url('../images/into photo.jpg') center no-repeat;
    background-size: cover;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    animation: clips 3s ease infinite;
  }
  
  @keyframes clips {
    50% {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%)
    }
  }
  

