.introduction{
    height:100vh;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}

.innerBox{
    height: 95vh;
    width: 95vw;
    border: solid rgb(64, 64, 64) 2px;
    display:flex;
}

.ant-menu .ant-menu-item-only-child{
    padding-left: 25px !important
}

.ant-menu-title-content{
    overflow:visible !important; 
    overflow-wrap:break-word !important
}

.ant-menu-submenu-title{
    padding-left: 25px !important

}

.ant-menu .ant-menu-item-only-child{
    padding-left: 25px !important
}

.ant-menu-title-content{
    overflow:visible !important; 
    overflow-wrap:break-word !important
}

.ant-menu-submenu-title{
    padding-left: 25px !important

}

