.introduction{
    height:100vh;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
}

.innerBox{
    height: 95vh;
    width: 97vw;
    border: solid rgb(64, 64, 64) 2px;
    display:flex;
}

.sideBar{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
}

img{
    margin-top: 20px;
    margin-bottom:10px;
}
