.site-layout-content .pmasterScreenshot img{
    margin:10px;
    width:90%;
    padding-bottom:0px;
    padding-top:30px;
    margin-bottom:5px;
}
.site-layout-content .pmasterScreenshot{
    width:60%;
    margin-bottom: 50px ;
    /*
    background-color: rgb(247, 249. 246);
    */
    background-color:white;
    padding-bottom:30px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 8px;
    padding-right:30px;
    padding-left:30px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.site-layout-content .pmasterScreenshot label{
text-decoration:underline;

}