.skill-content{
    display:flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start
}

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.card {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
    width:30%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 2rem;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.card > img {
  width: 100%;
  height: auto;
  aspect-ratio: 600/300;
}

.skill-title {
  margin-top: 1rem;
  font-family: "Kalam", cursive;
  font-weight: bold;
  font-size: larger;
  color: #4a4a7d;
  text-align: center;
  margin-bottom:0;
}

.skill-text {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  color: #5e5e89;
  text-align: center;
}

.skill-text p{
  margin:0;
}

.skill-content .card img{
    margin:0;
}
